
body {
  background-color: #fdfdfd(194, 191, 191);
}

.App {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 700px;
}

.calc-wrapper {
  background-color: #ddd;
}

.display {
  text-align: right;
  background-color: #858694;
  line-height: 100px;
  color: #fff;
  font-weight: bold;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 2.7rem;
}

.btn-row {
  display: flex;
  border: 0;
  width: 100%;
}

.btn-oth,
.btn-ope {
  justify-content: space-between;
  margin: 0.1rem;
  text-align: center;
  border: none;
  background-color: #eee;
  border: 1px solid #eee;
  line-height: 100px;
  color: #000;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 2.7rem;
  flex-grow: 1;
  flex-basis: 25%;
}

.btn-ope {
  background-color: #f5913d;
  border: 1px solid #f5913d;
}

.btn-eq {
  flex-basis: 50.5%;
  flex-grow: 2;
}

@media (max-width: 768px) {
  .App {
    width: 300px;
  }
  .btn-oth,
  .btn-ope,
  .display {
    line-height: 2.4rem;
    font-size: 1.4rem;
  }
}